*.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

mcmc_infinity/__pycache__/*
mcmc_infinity/code/__pycache__/*
mcmc_infinity/code/proposals/__pycache__/*
mcmc_infinity/test_functions/__pycache__/*
mcmc_infinity/tests/__pycache__/*

.vscode/*

mcmc_infinity.egg-info/*
